<?xml version="1.0"?>
<connectionStrings>
  <!--server=148.72.232.166;database=adc_jnprasad;uid=adc;pwd=adc@1234@1234-->
  <add name="ICAS_PRDN" connectionString="c2VydmVyPTE0OC43Mi4yMzIuMTY2O2RhdGFiYXNlPWFkY19qbnByYXNhZDt1aWQ9YWRjO3B3ZD1hZGNAMTIzNEAxMjM0" />

  <!--server=148.72.232.166;database=adc_jnprasad_staging;uid=adc;pwd=adc@1234@1234-->
  <add name="ICAS_STAGING" connectionString="c2VydmVyPTE0OC43Mi4yMzIuMTY2O2RhdGFiYXNlPWFkY19qbnByYXNhZF9zdGFnaW5nO3VpZD1hZGM7cHdkPWFkY0AxMjM0QDEyMzQ=" />

  

  <!--
    <add name="ICAS_PRDN" connectionString="c2VydmVyPTE4NC4xNjguMTk0Ljc1O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9dHNkYztwd2Q9dHNkY0AxMjM0" />
    -->
  <!--Server=MUKUL\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234-->
  <!--
    <add name="ICAS_DEV1" connectionString="U2VydmVyPU1VS1VMXFNRTEVYUFJFU1MyMDE0O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9c2E7cHdkPW1hYUAxMjM0" />
    -->
  <!--Server=SUVRAM-004\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234-->
  <!--
    <add name="ICAS_DEV2" connectionString="U2VydmVyPVNVVlJBTS0wMDRcU1FMRVhQUkVTUzIwMTQ7ZGF0YWJhc2U9dHNkY29sbGVnZV9pY2FzO3VpZD1zYTtwd2Q9bWFhQDEyMzQ=" />
    <add name="iCAS_LibraryEntity" connectionString="metadata=res://*/Database.ModelLibrary.csdl|res://*/Database.ModelLibrary.ssdl|res://*/Database.ModelLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUKUL\SQLEXPRESS2014;initial catalog=tsdcollege_icas;persist security info=True;user id=sa;password=maa@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    -->
  <!--Server=SUVRAM-004\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234-->
  <!--
    <add name="ICAS_DEVP" connectionString="U2VydmVyPVNVVlJBTS0wMDRcU1FMRVhQUkVTUzIwMTQ7ZGF0YWJhc2U9YWRjb2xsZWdlX2ljYXM7dWlkPXNhO3B3ZD1tYWFAMTIzNA==" />-->

  <!--Server=SUVRAM-004\SQLEXPRESS2014;database=adcollege_icas;uid=sa;pwd=maa@1234-->
  <!--<add name="ICAS_DEV_ADC" connectionString="U2VydmVyPVNVVlJBTS0wMDRcU1FMRVhQUkVTUzIwMTQ7ZGF0YWJhc2U9YWRjb2xsZWdlX2ljYXM7dWlkPXNhO3B3ZD1tYWFAMTIzNA==" />-->

  <!--Server=SUVRAM-004\SQLEXPRESS2014;database=adc_jnprasad;uid=sa;pwd=maa@1234-->
  <add name="ICAS_DEV_ADC" connectionString="U2VydmVyPVNVVlJBTS0wMDRcU1FMRVhQUkVTUzIwMTQ7ZGF0YWJhc2U9YWRjX2pucHJhc2FkO3VpZD1zYTtwd2Q9bWFhQDEyMzQ=" />

</connectionStrings>